extends ../layouts/main-layout.pug

block title 
    title #{PageTitle}

block content 
    main
        form.product-form(action="/admin/add-product",method="POST")
            div.form-control
                label(for="title") Title
                input#title(type="text" name="title")
            div.form-control
                label(for="imageUrl") Image URL
                input#title(type="text" name="imageUrl")
            div.form-control
                label(for="price") Price
                input#title( name="price" type="number")
            div.form-control
                label(for="description") Description
                textarea#title(type="text" name="description")
            button.btn(type="submit") Add Product